<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

<!--    <springProfile name="production">-->
<!--        <root level="DEBUG">-->
<!--            <appender-ref ref="CONSOLE" />-->
<!--        </root>-->
<!--    </springProfile>-->

    <springProfile name="local, default">
        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${PROJECT02_LOG_DIRECTORY}/project02.log</file>
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
                <charset>utf8</charset>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>/Users/lsh/Documents/config/grafana/log/backup/app-%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
                <maxFileSize>100MB</maxFileSize>
                <maxHistory>30</maxHistory>
                <totalSizeCap>3GB</totalSizeCap>
            </rollingPolicy>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE" />
        </root>
    </springProfile>

</configuration>

